<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1"/>
  <title>Revive: Bringing Affordable Healthcare to 25 Million People in Slums.</title>
  <meta property="og:type"        content="website">
  <meta property="og:locale"      content="en-US">
  <meta property="og:site_name"   content="Revive">
  <meta property="og:description" content="{{ site.description }}">
  <link rel="shortcut icon" href="{{ site.baseurl }}img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/style.css"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
</head>
<body>
<div id="outerContainer">
<div id="header">
  <div id="nav-outer" class="transparent">
    <div id="logo">
    	<a href="http://operationrevive.org" target="_blank" height="20px">	
    		<img src="{{ site.baseurl }}img/ReviveLogo.png" alt="Revive logo">
    	</a> 
    </div>
    <div id="socialMedia">
      <a href="https://twitter.com/OperationRevive">
      	<img alt="Operation Revive Twitter" src="{{ site.baseurl }}img/twitter.png"/>
      </a>
      <a href="https://www.facebook.com/operationrevive">
      	<img alt="Operation Revive Facebook" src="{{ site.baseurl }}img/facebook.png"/>
      </a>
      <a href="#">
      	<img src="{{ site.baseurl }}img/linkedin.png"/>
      </a>
      <a href="#">
      	<img src="{{ site.baseurl }}img/SSG.png"/>
      </a>
    </div>
    <p id="tagline">Bringing healthcare into the slums</p>
    <p id="tagline1"> one backpack at a time.</p>
      <div id="nav">
         <ul id="navbar">
         	<li><a 
         	href="http://operationrevive.org">Home</a>
            <li><a href="about-us">About us</a>
               <ul>
                  <li><a href="#">Who we are</a></li>
                  <li><a href="mission.html">Mission</a></li>
                  <li><a href="#">Vision</a></li>
                  <li><a href="#">Why Revive is different</a></li>
	              <li><a href="#">Partners</a></li>
               </ul>
            </li>
            <li class="active"><a href="#" class="active">Impact</a>
               <ul>
                  <li><a href="#">Statistics</a></li>
                  <li><a href="#">People living in the slums</a></li>
                  <li><a href="#">Healthcare</a></li>
               </ul>
            </li>
            <li><a href="#">Contact us</a>
               <ul>
                  <li><a href="#">Social media</a></li>
                  <li><a href="#">Locations</a></li>
               </ul>
            </li>
            <li><a href="#">Contribute</a>
               <ul>
                  <li><a href="#">Cooperate with us</a></li>
                  <li><a href="https://www.paypal.com/uk/cgi-bin/webscr?cmd=_flow&SESSION=cmrj5yCyQx2668V-wuHu7yN0LUZ84zIVjXAE5QjBfNJjTbdm42jPZs5UDJe&dispatch=5885d80a13c0db1f8e263663d3faee8d7ff5e1e81f2ed97dd1e90bd72966c40c" target="_blank">Donate</a></li>
               </ul>
            </li>
            <li id="donatebtn"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=U6TAHXM96AU5G" target="_blank">Donate</a>
               <ul class="last">
               </ul>
            </li>
         </ul>
        </div>
  </div>  
 </div>
 <div id="content">